<div class="main-image">
  <div class="textbox">
    <h1 class="textbox__intro"> Welcome to those who like<br>amazon prime video!</h1>
    <p class="textbox__explanation">Are you wondering about the movie or program you want to watch?</p>
	</div>
</div>	

<div class="post-content">
	<div class="posts-title">投稿一覧</div>
		<div class="thumbnails">
			<% @tweets.each do |tweet| %>
			<div class="thumbnail">
				<div class="content-post" style="background-image: url(<%= tweet.image %>);">
					<%= link_to  '詳', "/tweets/#{tweet.id}", method: :get, class:"content-post__link" %>
				</div>

					<span class="name">投稿者：</span>
			</div>			
			<% end %>
		</div>
</div>
