.back-ground
  .title-box
    #{@nickname} の投稿一覧
  .post-content
    .post-content-users
      = render partial: "products/product-card2", locals:{products:@products}
    .paginate
      = paginate(@products)

  
