<div class="post-content">
	<div class="posts-title">投稿一覧</div>
		<div class="thumbnails">
			<% @tweets.each do |tweet| %>
			<div class="thumbnail">
				<div class="content-post" style="background-image: url(<%= tweet.image %>);">
					<%= link_to  '詳', "/tweets/#{tweet.id}", method: :get, class:"content-post__link" %>
				</div>
			</div>			
			<% end %>
		</div>
</div>
