.post-content
  .posts-title 投稿一覧
  .thumbnails
    - @products.each do |products|
      .thumbnail
        .content-post{:style => "background-image: url(#{products.image});"}
          = link_to  '詳', "/products/#{products.id}", method: :get, class:"content-post__link"
