<div class="main-image">
  <div class="textbox">
    <h1 class="textbox__intro"> Welcome to those who like<br>amazon prime video!</h1>
    <p class="textbox__explanation">Are you wondering about the movie or program you want to watch?</p>
  </div>
</div>

<div class="thumbnails">
  <% @videos.each do |video| %>
    <div class="content_post" style="background-image: url(<%= video.image %>);">
    <%= simple_format(video.text) %>
      <span class="name">
      </span>
    </div>
  <% end %>
</div>
	
  <%# <div class="row"> %>
  <%# <div class="col-xs-6 col-md-3">
		<a href="" class="thumbnail" target="_blank">
			<img src="video.image">
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://bootstrap3.cyberlab.info/img/sampleB-256x256.png" class="thumbnail" target="_blank">
			<img src="http://bootstrap3.cyberlab.info/img/sampleB-256x256.png">
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://bootstrap3.cyberlab.info/img/sampleC-256x256.png" class="thumbnail" target="_blank">
			<img src="http://bootstrap3.cyberlab.info/img/sampleC-256x256.png">
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://bootstrap3.cyberlab.info/img/sampleD-256x256.png" class="thumbnail" target="_blank">
			<img src="http://bootstrap3.cyberlab.info/img/sampleD-256x256.png">
		</a>
	</div>
</div>
 %>
