@media screen and (min-width: 481px){ 
  .category-shows{
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 0 auto;
  }

  .post-content-users{
    background-color: black;
    padding: 10px 20px 10px 100px;
  }

  .category-title{
    background:#000;
    color:#fff;
    font-size: 40px;
    width:100%;
    border-top:13px dashed #fff;
    border-bottom:13px dashed #fff;
    box-shadow: 0 0 3px 8px #000,25px 20px 4px 2px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px;
    text-align: center; 
    padding:10px;
    margin-bottom: 30px
  }
}
@media screen and (max-width: 480px){ 
  .category-shows{
    background-color: black;
    height: 100vh;
  }
  .category-title{
    background:#000;
    color:#fff;
    font-size: 180%;
    width:100%;
    border-top:7px dashed #fff;
    border-bottom:7px dashed #fff;
    box-shadow: 0 0 3px 8px #000,25px 20px 4px 2px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px;
    text-align: center; 
    padding:10px;
    margin-bottom: 30px
  }
}