.main-image{
  position: relative;
}
.bx-wrapper {
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;;
}
.bx-pager{
  z-index: 2;
  margin-bottom: 70px;
}
.bx-viewport{
  background-color: black;
}
.slider-img{
  width: 100% !important;
  height: 250px !important;
}
.slider-img-small{
  width: 500px !important;
  height: 250px !important;
  margin:0 auto;
  display: block;
  
}
// .bxslider-img{
//   width: 100% !important;
//   height: auto !important;
// }

// .main-image::before{
//   /* 透過した黒を重ねる */
//   background-color: rgba(0,0,0,0.5);
//   /* どの範囲に重ねるかを指定 */
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   content: ' ';
// }
//   .textbox{
//     position: absolute;
//     width: 100%;
//     text-align: center;
//     top:40%;
//     &__intro{
//       color: aliceblue;
//       font-size: 50px;
//       font-family: cursive;
//       margin-bottom: 10px;
//       margin-top: 20px;
//     }
//     &__explanation{
//       color: aliceblue;
//       font-size: 30px;
//       font-family: cursive;
//     }
  // }  
.post-content{
  background-color: black;
  padding-bottom: 10px;

  .search-form{
   text-align: center;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: black;
  }
  .search-input{
    margin: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.5em;
  }
  .search-btn{
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    background: #3879D9;
    border: 1px solid #3879D9;
    border-radius: 3px;
    color: #fff;
    outline : none;
    width: 3.5em;
    height: 1.9em;
    display: inline-block;
    vertical-align: middle;
  }
  .posts-title{
    background:#000;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    width:100%;
    border-top:13px dashed #fff;
    border-bottom:13px dashed #fff;
    box-shadow: 0 0 3px 8px #000,25px 20px 4px 2px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px;
    text-align: center; 
    padding:30px;
    margin:20px,20px;
    margin-bottom: 30px
  }

  .thumbnails{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .thumbnail{
    height: 240px;
    width: 310px;
    position: relative;
    margin-top: 5px;
    margin: 5px -10px;
  }
    .content-post{
      background-color: #ccc;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 20px 5px,20px 10px;
      width: 280px;
      height: 230px;
      border: 1px solid rgb(156, 146, 146);
      background-size: 100% 100%;
      cursor: pointer;
      transform: scale(1);
      transition:all 0.2s;
      &__link{
        font-size: 200px;
        line-height: 200px;
        text-align: center;
        display: block;
        opacity:0; 
        }
    }
    .content-post:hover{
      transform: scale(1.1);
    }
    .nickname-text{
      color: #fff;
      position: absolute;
      bottom: 5px;
      right: 50%;
      font-size: 15px;
      width: 150px;
      height: 20px;
      }
  .category-name{
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .category-name:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .category-show{
    font-style: oblique;
    font-weight: 400;
    font-size: x-large;
    color: white;
    margin-left: 35px;
    text-decoration: none;
  }
  .product-img{
    width: 290px;
    height: 200px;

  }
}

  

