.contents{
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.form-title{
  font-size:20px;
  font-family: cursive;
  margin-bottom: 20px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.tag-form{
  margin: 10px;
}
.form-index{
  font-size: 20px;
  color: aliceblue;
}
.form-group{
  margin-left: 20px;
}

.name-form{
  padding-bottom: 20px;
  width: 800px;
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-form{
  padding-bottom: 20px;
  width: 800px;
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-form{
  padding-bottom: 20px;
  width: 800px;
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-form{
  padding-bottom: 20px;
  width: 800px;
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-form{
  padding-bottom: 10px;
  width: 800px;
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 20px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.listing-form-box{
  display: block;
}
.sdn-btn{
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  background: #3879D9;
  border: 1px solid #3879D9;
  border-radius: 3px;
  color: #fff;
  outline : none;
  padding: 9px;
  line-height:1;
  height: 1.9em;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.5s;
  margin-top: 160px;
  margin-left: 100px;
  &:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
  }
}
.label-name{
  color: aliceblue;
}
.label.label-primary{
  font-size: 15px;
}

.tag-box{
  margin-top: 10px;
}

.select-default{
  height: 34px;
  width: 350px;
}

.error-text {
  text-align: center;
  color: red;
  line-height: 1.5;
  font-size: 14px;
  li{
  
  }
}