@media screen and (min-width: 481px){ 
  .back-ground{
    background-color: black;
    height: 100vh;
    width: 100vw;
    
  }

  .post-content-users{
    background-color: black;
  }

  .title-box{
    background:#000;
    color:#fff;
    font-size: 40px;
    width:100%;
    border-top:13px dashed #fff;
    border-bottom:13px dashed #fff;
    box-shadow: 0 0 3px 8px #000,25px 20px 4px 2px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px;
    text-align: center; 
    padding:10px;
    margin-bottom: 10px;
  }
  .card-area2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .nickname-text-show{
      color: #fff;
      position: absolute;
      bottom: 5px;
      right: 50%;
      font-size: 15px;
      display:inline-block;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: brown;
      border-radius: 10px;
      padding: 2px; 
      cursor: pointer;
      transition-duration: 0.3s;
      &:hover{
        box-shadow: 5px 5px 5px #ccc;
        transform: translateY(-3px);
        transition-duration: 0.2s;
      }
    }
  }

}
@media screen and (max-width: 480px){ 
  .back-ground{
    background-color: black;
    height: 100vh;
    width: 100vw;

  }

  .post-content-users{
    background-color: black;
  }

  .title-box{
    background:#000;
    color:#fff;
    font-size: 140%;
    width:95%;
    border-top:7px dashed #fff;
    border-bottom:7px dashed #fff;
    box-shadow: 0 0 3px 8px #000,25px 20px 4px 2px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px;
    text-align: center; 
    padding:10px;
    margin-bottom: 30px;
  }
  .card-area2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .bx-controls-auto {
      z-index: 2;
      bottom: -10px !important;;
    }
  }
  .nickname-text-show{
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 50%;
    font-size: 20%;
    display:inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: brown;
    border-radius: 10px;
    padding: 2px; 
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover{
      box-shadow: 5px 5px 5px #ccc;
      transform: translateY(-3px);
      transition-duration: 0.2s;
    }
  }
}
  