- if products.present?
  .card-area2
    - products.each do |product|
      .product-card
        .content-post{:style => "background-image: url(#{product.image})",class:"product-img"}
          = link_to  '#', details_product_path(product.id), method: :get, class:"content-post__link"
        %a{:href => "/users/#{product.user.id}"}
          .nickname-text-show
            投稿者：#{product.user.nickname}
          