- case 
- when current_page?(tag_search_product_path(1))
  = render partial: "tag_choice", locals: {tags: @tags}
- when current_page?(tag_search_product_path(2))
  = render partial: "tag_choice", locals: {tags: @movie_tags}
- when current_page?(tag_search_product_path(3))
  = render partial: "tag_choice", locals: {tags: @tv_tags}
