.back-ground
  .title-box
    .badge2.badge-primary.mr-1.p-2
      = "＃#{@tag}"
    %span  
      の投稿一覧
  .post-content
    .post-content-users
      = render partial: "product-card2", locals:{products:@products}
    .paginate
      = paginate(@products)


          